In [75]:
import pandas as pd
import tensorflow as tf

In [26]:
data = pd.read_csv('E:\\INTERNSHIP SUMMER 2020\\Dataset\\Fake_News\\train.csv')

In [27]:
data.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [28]:
data.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [29]:
data[['title' , 'author']] = data[['title' , 'author']].fillna(value = 'Missing')
data = data.dropna()
data.isnull().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [30]:
length = []
[length.append(len(str(text))) for text in data['text']]
data['length'] = length
data.head()

,id,title,author,text,label,length
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,4930
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,4160
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,7692
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,3237
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,938

In [31]:
len(data[data['length'] < 50])

207

In [32]:
data['text'][data['length'] < 50]

82
169
173                                   Guest   Guest
196            They got the heater turned up on high.
295
                             ...
20350                         I hope nobody got hurt!
20418                                 Guest   Guest
20431    \nOctober 28, 2016 The Mothers by stclair by
20513
20636                              Trump all the way!
Name: text, Length: 207, dtype: object

In [34]:
data = data.drop(data['text'][data['length'] < 50].index, axis = 0)

In [ ]:
#TOKENIZATION FOR TEXT COLUMN

def identify_tokens(row):
    text = row['text']
    tokens = nltk.word_tokenize(text)
    token_words = [w for w in tokens if w.isalpha()]
    return token_words

data['text_words'] = data.apply(identify_tokens, axis = 1)

In [40]:
#TOKENIZATION FOR TITLE COLUMN

def identify_tokens(row):
    title = row['title']
    tokens = nltk.word_tokenize(title)
    token_words = [w for w in tokens if w.isalpha()]
    return token_words

data['title_words'] = data.apply(identify_tokens, axis = 1)

In [41]:
data.iloc[1]

id                                                             1
title          FLYNN: Hillary Clinton, Big Woman on Campus - ...
author                                           Daniel J. Flynn
text           Ever get the feeling your life circles the rou...
label                                                          0
length                                                      4160
words          [Ever, get, the, feeling, your, life, circles,...
text_words     [Ever, get, the, feeling, your, life, circles,...
title_words    [FLYNN, Hillary, Clinton, Big, Woman, on, Camp...
Name: 1, dtype: object

In [42]:
#STEMMING FOR TEXT COLUMN

from nltk.stem import PorterStemmer
stemming = PorterStemmer()

def stem_list(row):
    my_list = row['text_words']
    stemmed_list_text = [stemming.stem(word) for word in my_list]
    return stemmed_list_text

data['stemmed_words_text'] = data.apply(stem_list, axis = 1)

In [45]:
#STEMMING FOR TITLE COLUMN

def stem_list(row):
    my_list_title = row['title_words']
    stemmed_list_title = [stemming.stem(word) for word in my_list_title]
    return stemmed_list_title

data['stemmed_words_title'] = data.apply(stem_list, axis = 1)

In [46]:
data.iloc[1]

id                                                                     1
title                  FLYNN: Hillary Clinton, Big Woman on Campus - ...
author                                                   Daniel J. Flynn
text                   Ever get the feeling your life circles the rou...
label                                                                  0
length                                                              4160
words                  [Ever, get, the, feeling, your, life, circles,...
text_words             [Ever, get, the, feeling, your, life, circles,...
title_words            [FLYNN, Hillary, Clinton, Big, Woman, on, Camp...
stemmed_words_text     [ever, get, the, feel, your, life, circl, the,...
stemmed_words_title    [flynn, hillari, clinton, big, woman, on, camp...
Name: 1, dtype: object

In [48]:
#REMOVING STOP WORDS FOR TEXT COLUMN

from nltk.corpus import stopwords
stops = set(stopwords.words('english'))

def remove_stops(row):
    my_list = row['stemmed_words_text']
    meaningful_words = [w for w in my_list if not w in stops]
    return meaningful_words

data['stem_meaningful_text'] = data.apply(remove_stops, axis = 1)

In [49]:
#REMOVING STOP WORDS FOR TITLE COLUMN

from nltk.corpus import stopwords
stops = set(stopwords.words('english'))

def remove_stops(row):
    my_list = row['stemmed_words_title']
    meaningful_words = [w for w in my_list if not w in stops]
    return meaningful_words

data['stem_meaningful_title'] = data.apply(remove_stops, axis = 1)

In [50]:
data.iloc[1]

id                                                                       1
title                    FLYNN: Hillary Clinton, Big Woman on Campus - ...
author                                                     Daniel J. Flynn
text                     Ever get the feeling your life circles the rou...
label                                                                    0
length                                                                4160
words                    [Ever, get, the, feeling, your, life, circles,...
text_words               [Ever, get, the, feeling, your, life, circles,...
title_words              [FLYNN, Hillary, Clinton, Big, Woman, on, Camp...
stemmed_words_text       [ever, get, the, feel, your, life, circl, the,...
stemmed_words_title      [flynn, hillari, clinton, big, woman, on, camp...
stem_meaningful_text     [ever, get, feel, life, circl, roundabout, rat...
stem_meaningful_title    [flynn, hillari, clinton, big, woman, campu, b...
Name: 1, dtype: object

In [55]:
def rejoin_words(row):
    my_list = row['stem_meaningful_text']
    joined_words = ( " ".join(my_list))
    return joined_words

data['processed_text'] = data.apply(rejoin_words, axis = 1)

In [56]:
def rejoin_words(row):
    my_list = row['stem_meaningful_title']
    joined_words = ( " ".join(my_list))
    return joined_words

data['processed_title'] = data.apply(rejoin_words, axis = 1)

In [57]:
data.iloc[1]

id                                                                       1
title                    FLYNN: Hillary Clinton, Big Woman on Campus - ...
author                                                     Daniel J. Flynn
text                     Ever get the feeling your life circles the rou...
label                                                                    0
length                                                                4160
words                    [Ever, get, the, feeling, your, life, circles,...
text_words               [Ever, get, the, feeling, your, life, circles,...
title_words              [FLYNN, Hillary, Clinton, Big, Woman, on, Camp...
stemmed_words_text       [ever, get, the, feel, your, life, circl, the,...
stemmed_words_title      [flynn, hillari, clinton, big, woman, on, camp...
stem_meaningful_text     [ever, get, feel, life, circl, roundabout, rat...
stem_meaningful_title    [flynn, hillari, clinton, big, woman, campu, b...
processed                ever get feel life circl roundabout rather hea...
processed_title            flynn hillari clinton big woman campu breitbart
processed_text           ever get feel life circl roundabout rather hea...
Name: 1, dtype: object

In [73]:
cols_to_drop = ['text' , 'words' , 'stemmed_words_text', 'stem_meaningful_text']

for col in cols_to_drop:
    data.drop(col , axis = 1)


data.to_csv('fake_news_processed.csv', index = False)